<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weitang114.com.observablescrollviewdemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.github.ksoichiro.android.observablescrollview.samples.FlexibleSpaceWithImageScrollViewActivity"
                  android:theme="@style/AppTheme.Toolbar"
            />
        <activity android:name="com.github.ksoichiro.android.observablescrollview.samples.ViewPagerTabScrollViewActivity"
                  android:theme="@style/AppTheme.Toolbar"
            />
    </application>

</manifest>
